body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(164, 247, 247);
}

#my_form {
    text-align: center;
    height: 100%;

font-family: 'Courier New', Courier, monospace;
}

.head{
    margin: 8px 0px;
}
.nameContainer,
.emailContainer,
.numberContainer,
.submitForm,
.passwordContainer {
    margin: 8px 5px;
  font-size: 15px;
}