<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <link rel="stylesheet" href="../views/style/user.css">
</head>
<header>
    <div class="headcontainer">
        <a id="user" href="user.html">Creat Acount</a>
        <a id="login" href="login.html">login</a>
        <a id="expenses" href="expenses.html">Home</a>
    </div>
</header>
<body>
    <form id="my_form">
        <div class="head">
            <h3>Forget Password</h3>
        </div>
        <div class="emailContainer">
            <label for="UserEmail">Email</label>
            <input type="email" id="useremail" placeholder="Enter Email" name="useremail" required>
        </div>
        <div class="submitForm">
            <button>submit</button>
        </div>          
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js">
</script>
<script src="../views/js/forgetPassword.js"></script>
</html>