<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/style/user.css">
</head>
<header>
    <div class="headcontainer">
        <a id="user" href="/user">Creat Acount</a>
        <a id="login" href="/login">login</a>
    </div>

</header>
<body>
    <form id="my_form">
        <div class="head">
            <h3>Sign Up</h3>
        </div>
        <div class="emailContainer">
            <label for="UserEmail">Email</label>
            <input type="email" id="useremail" placeholder="Enter Email" name="useremail" required>
        </div>
        <div class="passwordContainer">
            <label for="UserPassword">Password</label>
            <input type="password" id="userpassword" placeholder="Enter Password" name="userpassword" required>
        </div>

        <div class="submitForm">
            <button>login</button>
        </div>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js">
</script>
<script src="/js/login.js"></script>
</html>